<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.MessagePrivateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.MessagePrivate">
        <id column="message_id" property="messageId" />
        <result column="message_content" property="messageContent" />
        <result column="send_time" property="sendTime" />
        <result column="send_user_id" property="sendUserId" />
    </resultMap>

    <resultMap id="UserMessageMap" type="com.soubao.entity.MessagePrivate" extends="BaseResultMap">
        <result column="rec_id" property="recId" />
        <result column="is_see" property="isSee" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        message_id, message_content, send_time, send_user_id
    </sql>

    <select id="selectUserMessagePage" resultMap="UserMessageMap">
        SELECT
        m.*,u.is_see,u.rec_id
        FROM
        message_notice m
        INNER JOIN user_message u ON u.message_id = m.message_id
        WHERE  u.user_id = #{userMessage.userId}
            and u.deleted = #{userMessage.deleted}
            and u.category = 3
        ORDER BY u.rec_id DESC
    </select>
</mapper>
