<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.SmsTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.SmsTemplate">
        <id column="tpl_id" property="tplId" />
        <result column="sms_sign" property="smsSign" />
        <result column="sms_tpl_code" property="smsTplCode" />
        <result column="tpl_content" property="tplContent" />
        <result column="send_scene" property="sendScene" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tpl_id, sms_sign, sms_tpl_code, tpl_content, send_scene, add_time
    </sql>

</mapper>
