<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.StoreCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.StoreCollect">
        <id column="log_id" property="logId" />
        <result column="user_id" property="userId" />
        <result column="store_id" property="storeId" />
        <result column="add_time" property="addTime" />
        <result column="store_name" property="storeName" />
        <result column="user_name" property="userName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, user_id, store_id, add_time, store_name, user_name
    </sql>

</mapper>
