<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.UserExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.UserExtend">
    <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="invoice_title" property="invoiceTitle" />
        <result column="taxpayer" property="taxpayer" />
        <result column="invoice_desc" property="invoiceDesc" />
        <result column="realname" property="realname" />
        <result column="idcard" property="idcard" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, invoice_title, taxpayer, invoice_desc, realname, idcard
    </sql>

</mapper>
