<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.UserSignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.UserSign">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sign_total" property="signTotal"/>
        <result column="sign_count" property="signCount"/>
        <result column="sign_last" property="signLast"/>
        <result column="sign_time" property="signTime"/>
        <result column="cumtrapz" property="cumtrapz"/>
        <result column="this_month" property="thisMonth"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, sign_total, sign_count, sign_last, sign_time, cumtrapz, this_month
    </sql>

    <select id="selectUserSignPage" resultMap="BaseResultMap">
        SELECT
        u.nickname,u.mobile,s.*
        FROM
        user_sign s
        LEFT JOIN user u ON u.user_id = s.user_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
