<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.WithdrawalsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.Withdrawals">
    <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="money" property="money" />
        <result column="create_time" property="createTime" />
        <result column="check_time" property="checkTime" />
        <result column="pay_time" property="payTime" />
        <result column="refuse_time" property="refuseTime" />
        <result column="bank_name" property="bankName" />
        <result column="bank_card" property="bankCard" />
        <result column="realname" property="realname" />
        <result column="remark" property="remark" />
        <result column="taxfee" property="taxfee" />
        <result column="status" property="status" />
        <result column="pay_code" property="payCode" />
        <result column="error_code" property="errorCode" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, money, create_time, check_time, pay_time, refuse_time, bank_name, bank_card, realname, remark, taxfee, status, pay_code, error_code, type
    </sql>

    <select id="selectWithDrawalsExportData" resultType="com.soubao.vo.WithdrawalsExcel">
        SELECT u.nickname, w.money, w.bank_name, w.bank_card, w.realname, w.create_time, w.remark
        FROM withdrawals w
        LEFT JOIN user u ON u.user_id = w.user_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="selectWithdrawalsPage" resultMap="BaseResultMap">
        SELECT w.*,u.nickname
        FROM withdrawals w
        LEFT JOIN user u ON u.user_id = w.user_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="selectUserWithdrawalsById" resultMap="BaseResultMap">
        SELECT w.*,u.nickname,u.user_money,u.frozen_money
        FROM withdrawals w
        LEFT JOIN user u
        ON u.user_id = w.user_id
        WHERE w.id = #{id}
    </select>
</mapper>
