<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.RechargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.Recharge">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="order_sn" property="orderSn" />
        <result column="account" property="account" />
        <result column="ctime" property="ctime" />
        <result column="pay_time" property="payTime" />
        <result column="pay_code" property="payCode" />
        <result column="pay_name" property="payName" />
        <result column="pay_status" property="payStatus" />
        <result column="transaction_id" property="transactionId" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, user_id, nickname, order_sn, account, ctime, pay_time, pay_code, pay_name, pay_status, transaction_id, remark
    </sql>

</mapper>
