<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.ReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.Reply">
        <id column="reply_id" property="replyId" />
        <result column="comment_id" property="commentId" />
        <result column="parent_id" property="parentId" />
        <result column="content" property="content" />
        <result column="user_name" property="userName" />
        <result column="to_name" property="toName" />
        <result column="deleted" property="deleted" />
        <result column="reply_time" property="replyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        reply_id, comment_id, parent_id, content, user_name, to_name, deleted, reply_time
    </sql>

</mapper>
