<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.GuaranteeApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.GuaranteeApply">
    <result column="id" property="id" />
        <result column="grt_id" property="grtId" />
        <result column="store_id" property="storeId" />
        <result column="store_name" property="storeName" />
        <result column="add_time" property="addTime" />
        <result column="auditstate" property="auditstate" />
        <result column="cost" property="cost" />
        <result column="costimg" property="costimg" />
        <result column="apply_type" property="applyType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        grt_id, store_id, store_name, add_time, auditstate, cost, costimg, apply_type
    </sql>

</mapper>
