<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.StoreClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.StoreClass">
        <id column="sc_id" property="scId" />
        <result column="sc_name" property="scName" />
        <result column="sc_bail" property="scBail" />
        <result column="sc_sort" property="scSort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sc_id, sc_name, sc_bail, sc_sort
    </sql>

</mapper>
