<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.StoreExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.StoreExtend">
        <id column="store_id" property="storeId" />
        <result column="express" property="express" />
        <result column="pricerange" property="pricerange" />
        <result column="orderpricerange" property="orderpricerange" />
        <result column="pic_num" property="picNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        store_id, express, pricerange, orderpricerange, pic_num
    </sql>

</mapper>
