<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.StoreGoodsClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.StoreGoodsClass">
        <id column="cat_id" property="catId" />
        <result column="cat_name" property="catName" />
        <result column="parent_id" property="parentId" />
        <result column="shop_id" property="shopId" />
        <result column="store_id" property="storeId" />
        <result column="cat_sort" property="catSort" />
        <result column="is_show" property="isShow" />
        <result column="is_nav_show" property="isNavShow" />
        <result column="is_recommend" property="isRecommend" />
        <result column="show_num" property="showNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cat_id, cat_name, parent_id, shop_id, store_id, cat_sort, is_show, is_nav_show, is_recommend, show_num
    </sql>

</mapper>
