<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.StoreMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.StoreMsg">
        <id column="sm_id" property="smId" />
        <result column="store_id" property="storeId" />
        <result column="content" property="content" />
        <result column="addtime" property="addtime" />
        <result column="open" property="open" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sm_id, store_id, content, addtime, open
    </sql>

</mapper>
