<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.GoodsImagesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.GoodsImages">
        <id column="img_id" property="imgId" />
        <result column="goods_id" property="goodsId" />
        <result column="image_url" property="imageUrl" />
        <result column="img_sort" property="imgSort" />
        <result column="album_id" property="albumId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        img_id, goods_id, image_url, img_sort, album_id
    </sql>

</mapper>
