<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.GroupBuyGoodsItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.GroupBuyGoodsItem">
    <result column="id" property="id" />
        <result column="group_buy_id" property="groupBuyId" />
        <result column="goods_id" property="goodsId" />
        <result column="item_id" property="itemId" />
        <result column="price" property="price" />
        <result column="goods_num" property="goodsNum" />
        <result column="virtual_num" property="virtualNum" />
        <result column="rebate" property="rebate" />
        <result column="goods_price" property="goodsPrice" />
        <result column="buy_num" property="buyNum" />
        <result column="order_num" property="orderNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        group_buy_id, goods_id, item_id, price, goods_num, virtual_num, rebate, goods_price, buy_num, order_num
    </sql>

</mapper>
