<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.NewsCatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.NewsCat">
        <id column="cat_id" property="catId" />
        <result column="cat_name" property="catName" />
        <result column="cat_type" property="catType" />
        <result column="parent_id" property="parentId" />
        <result column="show_in_nav" property="showInNav" />
        <result column="sort_order" property="sortOrder" />
        <result column="cat_desc" property="catDesc" />
        <result column="keywords" property="keywords" />
        <result column="cat_alias" property="catAlias" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cat_id, cat_name, cat_type, parent_id, show_in_nav, sort_order, cat_desc, keywords, cat_alias
    </sql>

</mapper>
