<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soubao.dao.PromGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soubao.entity.PromGoods">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="type" property="type" />
        <result column="expression" property="expression" />
        <result column="description" property="description" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="is_end" property="isEnd" />
        <result column="group" property="group" />
        <result column="store_id" property="storeId" />
        <result column="orderby" property="orderby" />
        <result column="prom_img" property="promImg" />
        <result column="recommend" property="recommend" />
        <result column="buy_limit" property="buyLimit" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        title, type, expression, description, start_time, end_time, status, is_end, group, store_id, orderby, prom_img, recommend, buy_limit
    </sql>

    <resultMap id="PromGoodsPage" type="com.soubao.entity.Goods" extends="com.soubao.dao.GoodsMapper.BaseResultMap">
        <association property="promGoods"  resultMap="BaseResultMap">

        </association>
    </resultMap>

    <select id="goodsPage" resultMap="PromGoodsPage">
        SELECT
            g.*,p.*
        FROM
        goods g
        INNER JOIN prom_goods p ON p.id = g.prom_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
