<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        let res = [[${chymsg}]];
        $(function () {
            if (typeof WeixinJSBridge == "undefined") {
                console.log("--------WeixinJSBridge--undefined------");
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                }
                else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else
            {
                console.log("--------start--dopay------");
                onBridgeReady();
            }
        });

        function onBridgeReady() {
            if (!res.includes("OK")) {
                alert(res);
                return;
            }
            try {
                WeixinJSBridge.invoke(
                    'getBrandWCPayRequest', {
                        "appId": [[${data.appId}]],     //公众号名称，由商户传入
                        "timeStamp": [[${data.timeStamp}]],         //时间戳，自1970年以来的秒数
                        "nonceStr": [[${data.nonceStr}]], //随机串
                        "package": [[${data.pack}]],
                        "signType": "MD5",         //微信签名方式：
                        "paySign": [[${data.paySign}]] //微信签名
                    },
                    function (res) {
//alert(JSON.stringify(res));
                        if (res.err_msg == "get_brand_wcpay_request:ok") {
                            window.location.href = "success.html";
// 使用以上方式判断前端返回,微信团队郑重提示：
//res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                        }
                    });

            } catch (e) {
                alert(e);
            }
        }


    </script>
</head>
>
<body>
</body>


</html>